   .top-buffer{
                          margin-top: 20px;
                        }
                        .clear_element{
                          margin: 0px !important;
                          padding: 0px !important;
                        }
                        .title-about-us h2 {
                          color: #64cefd;
                        }
                        .box-1-reserve {
                          background: #fff;
                          margin-bottom: 37px;
                          padding-bottom: 30px;
                        }
                        #yt_wrapper .page-title-reserve h1 {
                          font-size: 184.61%;
                          text-transform: uppercase;
                          padding-bottom: 15px;
                          position: relative;
                          color: white;
                        }
                        #yt_wrapper .page-title.title-reserve {
                          margin-bottom: 30px;
                          padding-top: 10px;
                          background: #FF4081;
                          color: white;
                        }
                        .grapefruit{
                          background: #FF4081 !important;
                        }
                        #yt_wrapper .page-title.title-reserve h1{
                          color: white;
                        }
                        .sub-header{
                          color:darkgrey;
                          font-weight: bold;
                          margin-left: 10px;
                          margin-bottom: 10px;
                          
                        }
                        .faq h1{
                          font-size: 16px;
                          font-weight: bold;
                        }
                        /***
                        Forms
                        ***/
                        code {
                          border: 1px solid #e1e1e1;
                          -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
                          -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
                          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
                          
                        }
                        label {
                          font-weight: 400;
                          font-size: 14px;
                        }
                        
                        .reserve-form .form-control:-moz-placeholder {
                          color: #999999;
                        }
                        .reserve-form .form-control::-moz-placeholder {
                          color: #999999;
                        }
                        .reserve-form .form-control:-ms-input-placeholder {
                          color: #999999;
                        }
                        .reserve-form .form-control::-webkit-input-placeholder {
                          color: #999999;
                        }
                        .reserve-form .form-control {
                          
                          font-size: 14px;
                          font-weight: normal;
                          color: #333333;
                          background-color: #ffffff;
                          border: 1px solid #e5e5e5;
                          border-radius: 0;
                          -webkit-box-shadow: none;
                          box-shadow: none;
                          -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                        }
                        .reserve-form .form-control:focus {
                          border-color: #999999;
                          outline: 0;
                          -webkit-box-shadow: none !important;
                          box-shadow: none !important;
                        }
                        .reserve-form .form-control[disabled],
                        .reserve-form .form-control[readonly],
                        fieldset[disabled] .reserve-form .form-control {
                          cursor: not-allowed;
                          background-color: #eeeeee;
                        }
                        
                        .reserve-form .form-control.height-auto {
                          height: auto;
                        }
                        
                        .uneditable-input {
                          padding: 6px 12px;
                          min-width: 206px;
                          font-size: 14px;
                          font-weight: normal;
                          height: 34px;
                          color: #333333;
                          background-color: #ffffff;
                          border: 1px solid #e5e5e5;
                          border-radius: 0;
                          -webkit-box-shadow: none;
                          box-shadow: none;
                          -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                        }
                        
                        .reserve-form label.form-control {
                          display: block;
                          color: darkgrey;
                          margin-bottom: 5px;
                        }
                        
                        input[disabled],
                        select[disabled],
                        textarea[disabled] {
                          cursor: not-allowed;
                          background-color: #F4F4F4 !important;
                        }
                        
                        input[readonly],
                        select[readonly],
                        textarea[readonly] {
                          cursor: not-allowed;
                          background-color: #F9F9F9 !important;
                        }
                        
                        /* input  groups */
                        .input-group.input-group-fixed {
                          width: auto !important;
                        }
                        
                        .input-group-addon {
                          border-color: #e5e5e5;
                          background: #e5e5e5;
                          min-width: 39px;
                        }
                        
                        .input-group-addon > i {
                          color: #999;
                        }
                        
                        /* form control sizing */
                        .reserve-form .form-control-inline {
                          display: inline-block !important;
                        }
                        
                        .input-mini {
                          width: 45px !important;
                        }
                        
                        .input-xsmall {
                          width: 80px !important;
                        }
                        
                        .input-small {
                          width: 120px !important;
                        }
                        
                        .input-medium {
                          width: 240px !important;
                        }
                        
                        .input-large {
                          width: 320px !important;
                        }
                        
                        .input-xlarge {
                          width: 480px !important;
                        }
                        
                        .input-inline {
                          display: inline-block;
                          width: auto;
                          
                          vertical-align: middle;
                        }
                        
                        .form-group .input-inline  {
                          margin-right: 5px;
                        }
                        
                        .input-sm {
                          height: 28px;
                          padding: 5px 10px;
                          font-size: 13px;
                        }
                        
                        select.input-sm {
                          height: 28px;
                          line-height: 28px;
                          padding: 2px 10px;
                        }
                        
                        
                        @media (max-width: 768px) {
                          
                          .input-large {
                            width: 250px !important;
                          }
                          
                          .input-xlarge {
                            width: 300px !important;
                          }
                          
                        }
                        
                        
                        .pull-me-right{
                          
                          padding-right: 0px;
                        }
                        .pull-me-left{
                          padding-left: 0px;
                          margin-left: 0px;
                        }
                        .max-width{
                          width: 100%;
                        }
                        .notice{
                          color: black;
                          font-weight: bold;
                          
                        }
