

@media (max-width: 991px){
    #social-wraps-container{
        float: none;
    }
}
@media (min-width: 992px){
    #social-wraps-container{
        float: right;
    }
}


.service-top-home-left .service-info h2 a:hover,
.service-block .service-info h2 a:hover,
.category-wrap-cat .owl-item .item:hover a,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.men-item-parent div div.sm_megamenu_title > a:hover, 
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.women-item-parent div div.sm_megamenu_title > a:hover,
.sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li div div.sm_megamenu_title > a:hover,
.mini-cartpro .block-content .mini-products-list li.item .product-name a:hover{
    color:#23DF73;

}


body{

    font-size:13px;

}
body,
.qty-holder > label{
    font-family:Open Sans Regular;

}
.title-home,
.deal-block .title-deal h2,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li a.sm_megamenu_head,
.block-subscribe-footer .block-title > h2,
.title-footer > h2,
.yt-slideshow .title_big,
.yt-slideshow .btn_slide a,
.yt-slideshow .title-top,
.title_normal_double .bold,
#nav > li > a,
#yt_left .block .block-title strong, #yt_right .block .block-title strong,
#yt_wrapper .page-title h1,
.yt-product-detail .yt-detail-right .short-description .title-short-des,
.yt-tab-navi > li > a,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu  li div > div.sm_megamenu_title >span,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.men-item-parent div div.sm_megamenu_title > a,
div.sm_megamenu_title >span,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.women-item-parent div div.sm_megamenu_title > a,
.title-left-menu,
.fashion-ver-parent .sm_megamenu_title > a,
.layout-color > h2{
    font-family:TitilliumWeb Bold, serif !important
}
body.sm_flipshop{

    color:#666666 ;

}
body.sm_flipshop{

    background-color:#F3F3F3 ;
}
.block-layered-nav .filter-wrapp,
#layered-navigation .block-content .actions,
.layer-noshopby .block-content-layered .actions{
    border-bottom: 3px solid #F3F3F3 ;
}
.ltabs-loadmore{
    border-top: 3px solid #F3F3F3 ;
}
a{

    color:#666666 ;

}
a:focus,
a:hover{

    color:#64CEFD ;

}
#yt_wrapper .page-title:before{
    background-color:#666666 ;
}


.pattern1,
.pattern2,
.pattern3,
.pattern4,
.pattern5,
.pattern6,
.pattern7,
.pattern8{

    background-repeat:repeat ;

    background-position:left top ;

}


.cloud-zoom-big {
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
}
.yt-copyright b{
    font-weight:normal;
}

.fancybox-margin{
    margin-right:17px;
}



