body
{
    font-family: 'Open Sans' !important;
}

.header
{
    float:left;
    width:100%;
    /*padding:0 0 0 27px;*/
    background: #371304; /* Old browsers */
    background: -moz-linear-gradient(top, #371304 0%, #290c00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#371304), color-stop(100%,#290c00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #371304 0%,#290c00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #371304 0%,#290c00 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #371304 0%,#290c00 100%); /* IE10+ */
    background: linear-gradient(to bottom, #371304 0%,#290c00 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#371304', endColorstr='#290c00',GradientType=0 ); /* IE6-9 */
    border-bottom:5px solid #ff8b68;
    position:relative;
}
/******************************************** error page *************************************/
.error_logo
{
    width:100%;
    margin-top:20px;
    text-align:center;
}




.error_logo img
{
    width:20%;
    margin-bottom:20px;
}
.error_page_body
{
    background:#fff;
}
.error_title
{
    color:#311002;
    font-family:Helvetica Neue-bold;
    margin-top:70px;
    float:left;
}

.error_text
{
    color:#b23300;
    font-family:Helvetica Neue-bold;
    margin-top:30px;
    float:left;
}
.error_text2
{
    color:#b23300;
    font-family:Helvetica Neue-bold;
    margin-top:30px;
    float:left;
    width:100%;
}
.sub_error_text2 faq_container
{
    color:#311002;
    margin-top:10px;
    float:left;
    font-family:Arial, Helvetica, sans-serif;
}
.error_text a
{
    color:#83c018;
}
.error_text a:hover
{
    color:#fb4f1f;
}
.error_page_btn
{
    background: #83c018; /* Old browsers */
    background: -moz-linear-gradient(top, #83c018 0%, #609200 86%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#83c018), color-stop(86%,#609200)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #83c018 0%,#609200 86%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #83c018 0%,#609200 86%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #83c018 0%,#609200 86%); /* IE10+ */
    background: linear-gradient(to bottom, #83c018 0%,#609200 86%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83c018', endColorstr='#609200',GradientType=0 ); /* IE6-9 */
    border:0;
    font-size:15px;
    letter-spacing:1px;
    color:#fff;
    box-shadow:0 2px 0 rgba(0,0,0,0.5);
    -webkit-box-shadow:0 2px 0 rgba(0,0,0,0.5);
    padding:8px 10px;
    text-shadow:none;
    font-family:Helvetica Neue-bold;

}
.error_page_btn:hover
{
    background: #ff5222; /* Old browsers */
    background: -moz-linear-gradient(top, #ff5222 0%, #ce3000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff5222), color-stop(100%,#ce3000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ff5222 0%,#ce3000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ff5222 0%,#ce3000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ff5222 0%,#ce3000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ff5222 0%,#ce3000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5222', endColorstr='#ce3000',GradientType=0 ); /* IE6-9 */
    color:#fff;
}
.error_img
{
    width:600px;
    margin-bottom:50px;
}
.error_btns
{
    width: 600px;
    margin-top:30px;
    float: left;
}
.report_form
{
    float:left;
}
.error_left_part
{
    float:left;
    margin-left:115px;
    width:45%;
}
.report_form .control-label
{
    text-align:left;
}
.report_form input[type="text"], .report_form textarea
{
    width:340px !important;
    border-radius:0 !important;
    background:#f7f7f7 !important;
    border:1px solid #ccc !important;
    box-shadow:none !important;
}
.report_form textarea
{
    height:80px;
}
.error_submit_btn
{
    padding:10px 20px;
}
.resend_modal_btn
{
    background: #ff5222; /* Old browsers */
    background: -moz-linear-gradient(top, #ff5222 0%, #ce3000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff5222), color-stop(100%,#ce3000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ff5222 0%,#ce3000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ff5222 0%,#ce3000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ff5222 0%,#ce3000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ff5222 0%,#ce3000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5222', endColorstr='#ce3000',GradientType=0 ); /* IE6-9 */
    border:1px solid #df3a00;
    border-radius: 5px;
    color:#fff;
    font-size:16px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.75);
    padding:10px 20px;
    font-weight:bold;
    letter-spacing:1px;


}


.resend_modal_btn:hover
{
    background: #83c018; /* Old browsers */
    background: -moz-linear-gradient(top, #83c018 0%, #609200 86%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#83c018), color-stop(86%,#609200)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #83c018 0%,#609200 86%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #83c018 0%,#609200 86%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #83c018 0%,#609200 86%); /* IE10+ */
    background: linear-gradient(to bottom, #83c018 0%,#609200 86%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83c018', endColorstr='#609200',GradientType=0 ); /* IE6-9 */
    border:1px solid #609200;
    color:#fff;
}

#report_shop_modal input[type="text"]
{
    height:30px !important;
}

.top-buffer{
    margin-top: 20px;
}
.clear_element{
    margin: 0px !important;
    padding: 0px !important;
}
.title-about-us h2 {
    color: #64cefd;
}
.box-1-reserve {
    background: #fff;
    margin-bottom: 37px;
    padding-bottom: 30px;
}
#yt_wrapper .page-title-reserve h1 {
    font-size: 184.61%;
    text-transform: uppercase;
    padding-bottom: 15px;
    position: relative;
    color: white;
}
#yt_wrapper .page-title.title-reserve {
    margin-bottom: 30px;
    padding-top: 10px;
    background: #FF4081;
    color: white;
}
.grapefruit{
    background: #FF4081 !important;
}
#yt_wrapper .page-title.title-reserve h1{
    color: white;
}
.sub-header{
    color:darkgrey;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;

}
.faq h1{
    font-size: 16px;
    font-weight: bold;
}
/***
Forms
***/
code {
    border: 1px solid #e1e1e1;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);  
}
label {
    font-weight: 400;
    font-size: 14px;
}

.reserve-form .form-control:-moz-placeholder {
    color: #999999;
}
.reserve-form .form-control::-moz-placeholder {
    color: #999999;
}
.reserve-form .form-control:-ms-input-placeholder {
    color: #999999;
}
.reserve-form .form-control::-webkit-input-placeholder {
    color: #999999;
}
.reserve-form .form-control {  
    font-size: 14px;
    font-weight: normal;
    color: #333333;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.reserve-form .form-control:focus {
    border-color: #999999;
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.reserve-form .form-control[disabled],
.reserve-form .form-control[readonly],
fieldset[disabled] .reserve-form .form-control {
    cursor: not-allowed;
    background-color: #eeeeee;
}

.reserve-form .form-control.height-auto {
    height: auto;
}

.uneditable-input {
    padding: 6px 12px;
    min-width: 206px;
    font-size: 14px;
    font-weight: normal;
    height: 34px;
    color: #333333;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.reserve-form label.form-control {
    display: block;
    color: darkgrey;
    margin-bottom: 5px;
}

input[disabled],
select[disabled],
textarea[disabled] {
    cursor: not-allowed;
    background-color: #F4F4F4 !important;
}

input[readonly],
select[readonly],
textarea[readonly] {
    cursor: not-allowed;
    background-color: #F9F9F9 !important;
}

/* input  groups */
.input-group.input-group-fixed {
    width: auto !important;
}

.input-group-addon {
    border-color: #e5e5e5;
    background: #e5e5e5;
    min-width: 39px;
}

.input-group-addon > i {
    color: #999;
}

/* form control sizing */
.reserve-form .form-control-inline {
    display: inline-block !important;
}

.input-mini {
    width: 45px !important;
}

.input-xsmall {
    width: 80px !important;
}

.input-small {
    width: 120px !important;
}

.input-medium {
    width: 240px !important;
}

.input-large {
    width: 320px !important;
}

.input-xlarge {
    width: 480px !important;
}

.input-inline {
    display: inline-block;
    width: auto;  
    vertical-align: middle;
}

.form-group .input-inline  {
    margin-right: 5px;
}

.input-sm {
    height: 28px;
    padding: 5px 10px;
    font-size: 13px;
}

select.input-sm {
    height: 28px;
    line-height: 28px;
    padding: 2px 10px;
}


@media (max-width: 768px) {

    .input-large {
        width: 250px !important;
    }

    .input-xlarge {
        width: 300px !important;
    }

} 

.pull-me-right{

    padding-right: 0px;
}
.pull-me-left{
    padding-left: 0px;
    margin-left: 0px;
}
.max-width{
    width: 100%;
}
.notice{
    color: black;
    font-weight: bold;

}

article {
    position: relative;
    display: table;
    background: #eee;
    float: left;
    margin: 0 0 100px 0;
}
article .job-header {
    z-index: 4;
    height: 120px;
    padding: 20px;
    background-color: #eee;
    position: absolute;
    border-bottom: 1px solid #CCC;
    width: 100%;
    top: 0px;
    color: inherit;
    -moz-transition: top 0.3s ease-in, background-color 0.3s ease-in, color 0.3s ease-in;
    -o-transition: top 0.3s ease-in, background-color 0.3s ease-in, color 0.3s ease-in;
    -webkit-transition: top 0.3s ease-in, background-color 0.3s ease-in, color 0.3s ease-in;
    transition: top 0.3s ease-in, background-color 0.3s ease-in, color 0.3s ease-in;
}
article .job-header h3 {
    text-transform: uppercase;
    font-size: 16px;
}

.press-header{
    padding: 10px 10px;
}

article .job-header p {
    text-transform: uppercase;
}
article .job-header img {
    max-width: 120px;
    float: left;
    margin-right: 20px;
}
article .desc {
    clear: both;
    background: #BDC3C7;
    padding: 30px 23px 22px 23px;
}
article .job-more {
    position: absolute;
    z-index: 0;
    width: 100%;
    background: #eee;
    padding: 20px;
}

article a {
    z-index: 5;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
}

/* animation */
article:hover .job-header {
    top: -90px;
    color: #fff;
    background-color: #FF4081;
    -moz-transition: top 0.3s ease-in, background-color 0.3s ease-in, color 0.3s ease-in;
    -o-transition: top 0.3s ease-in, background-color 0.3s ease-in, color 0.3s ease-in;
    -webkit-transition: top 0.3s ease-in, background-color 0.3s ease-in, color 0.3s ease-in;
    transition: top 0.3s ease-in, background-color 0.3s ease-in, color 0.3s ease-in;
}

.products-list .w-image-box {
    float: left;
    margin-bottom: 0;
    margin-right: 20px;
    width: 270px;
}


.order-table{
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    margin: 25px 0;
}

.order-table thead
{
    background:#eeeeee;
    border: 1px solid #CCC;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 0 20px 0;
}

.order-table tbody
{
    border: 1px solid #CCC;
    border-radius: 5px;
    text-align: center;
}

.tfoot tr{
    height: 20px;
}

.order-table > thead > tr > td, .order-table > tbody > tr > td
{
    padding:15px;
    color:#333;
    text-transform:capitalize;
    font-size:16px;
    margin: 0 0 20px 0;
    text-align: center;
    color: #231f20;
}

.order-table > tbody > tr > td > a
{
    display: inline-block;
    font-size: 20px;
    margin: 0 3px;

}

.cart-address{
    color: #FF4081;
    font-size: 24px;
    margin: 5px 0;
}

.yt-tab-navi > li{
    padding: 0;
}

.yt-tab-navi > li > a{
    padding: 0 20px;
}



.folder-block{
    margin: 0 0 20px 0;
    padding: 0 10px;
}

.folder-block a{
    background: #FFF;
    border: 1px solid #eee;
    padding: 20px;
    font-size: 16px;
    text-align: center;
    display: block;
    color: #444f5b;
    height: 200px;
    overflow: hidden;
}

.folder-block a:hover{
    background: #eee;
    /*color: #FFF;*/
}


.item-zoom #zoom_03{
    width: 100%;
    height: 350px;
}
#gallery_01 img{
    width: 100px;
    height: 80px;
    margin: 5px 5px 5px 0;
    border: 1px solid #CCC;
}

.blog-details
{
    float:left;
    width:100%;
    margin-top:20px;
}

.blog-details .three-title-home
{
    float:left;
    width:100%;
}

.blog-details .three-title-home > h2
{
    float:left;
}

.blog-details .three-title-home > h2 span
{

    margin-left:20px;
    text-transform:none;
    color:#09F;
} 

.blog-details .w-date
{
    float:right;
}

.blog-details .img-wrapper
{
    height:370px;
    width:100%;
    overflow:hidden;
    float:left;
    margin-top:10px;
}

.blog-parag
{
    font-size:16px;
    margin:10px 10px;
    float:left;
}

.partner-detail
{
    float:left;
    width:100%;
}

.partner-detail .three-title-home
{
    float:left;
    width:100%;
    margin-bottom:20px;
}

.partner-img
{
    float:left;
    width:40%;
    margin:0 20px 20px 0;
}

.partner-img img
{
    width:100%;
}

.partner-parag
{

    font-size:16px;
    margin-top:10px;
    margin-bottom:15px;

}

.gallery
{
    margin-left:0 !important;
    padding:0 !important;
}

.gallery a
{
    padding-left:0 !important;
    padding-right:4px;
}

.gallery a img
{
    width:100% !important;
}


/* ------ */
html{
    direction: rtl !important;
}

.lang a {
  background: url("../images/bg-link-top.png") no-repeat scroll right center rgba(0, 0, 0, 0);
  line-height: 37px;
  padding: 5px 11px;
  font-weight: bold;
}


.lang .language-selector-active {
    display: none;
}


.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li {
  float: right !important;
}

.toplinks-setting{
    float: left !important;
}

.welcome-wrap{
    float: right !important;
}

.yt-header-top .welcome-msg {
  text-align: right;
}

.yt-header-top .setting-page, .yt-header-top .links-top {
  float: left;
}

.yt-header-top .toplinks-setting .links {
  float: left;
}

.yt-header-top .toplinks-setting .links > li {
  float: left;
  position: relative;
}

.yt-header-top .toplinks-setting .links > li > a {
  background-position: right center; 
}

.logo-w {
  float: right;
}

#social-wraps-container{
    float: left !important;
}

.sm-serachbox-pro .search-cat {
  float: right !important;
}

.sm-serachbox-pro .sm-searbox-content .form-button.button{
    right: auto !important;
    left: -1px !important
}

.sm-serachbox-pro input.input-text{
    padding: 0 15px 0 50px !important
}

.svi-sidemenu{
    float: right !important;
}

.title-left-menu {

  background-position: right 17px center !important;
  padding-right: 50px !important;
  padding-left: 0 !important;
}

.sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu p, .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu ul, .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li, .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu h2, .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu h3 {
  text-align: right !important;
}

.sm_megamenu_wrapper_vertical_menu .icon-item-menu {
  display: inline-block;
  height: 22px;
  right: 0 !important;
  /*left: auto;*/
  position: absolute;
  top: 14px;
  width: 24px;
}

#yt_left{
    float: right !important;
}

.bs-image{
    float: right !important;
}

.block-product .bs-content{
 margin-left: 0;
}
.block-product .bs-content .bs-title a {
 
  margin-right: 10px;
}

.sj-listing-tabs .ltabs-tabs-container .ltabs-tabs li {
  float: right !important;
}

.respl-item{
    float: right !important;
}

.product-image {
  line-height: 267px;
}

.sm_megamenu_title {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.sm_megamenu_lv1.sm_megamenu_drop > a::before {
    right: auto !important;
  left: 12px !important;
}

.svi-sidemenu .sm_megamenu_title{
    margin-left: 0 !important;
    margin-right: 35px !important;
}

.ft-brand-wrapper{
    direction: ltr !important;
}

.title-home{
    text-align: right;
}

.block-product{
    float: right !important;
}

.lastes-blog{
    float: right !important;
}

.block-product .bs-content .bs-btn-addtocart {
  left: 0 !important;
  right: auto !important;
}

.block-st-img{
    direction: ltr;
    position: relative;
    clear: both;
    overflow: hidden;
}

.price-box span {
  margin: 0 10px 0 0;
}

.lastes-blog .item-latest-blog .info-first-blog {
  clear: none !important;
  margin-left: 0 !important;
  margin-right: 190px !important;
  padding-bottom: 26px !important;
  top: 2px !important;
}

.lastes-blog .item-latest-blog .lt-blog-info {
  background: url("../images/border-bottom-bs.png") repeat-x scroll left bottom rgba(0, 0, 0, 0);
  margin-right: 98px;
  margin-left: 0 !important;
  min-height: 87px;
  position: relative;
  top: -4px;
}

.lastes-blog .item-latest-blog .item-lb-image{
    float: right !important;
}

.service-bottom-home-left .i-con{
    float: right !important;
}

.service-bottom-home-left .service-info {
  margin-right: 90px;
  margin-left: 0 !important;
  min-height: 70px;
  padding-top: 13px;
}

.most-popular{
    float: right !important;
    position: relative;
}

.title-footer > h2 {
  background-position: right bottom !important;
  color: #fff;
  font-size: 123.07%;
  padding-bottom: 8px;
  text-transform: uppercase;
}

#yt_wrapper .page-title.title-c h1::before {
  bottom: 3px;
  content: "";
  display: inline-block;
  height: 3px;
  position: absolute;
  right: 0 !important;
  left: auto !important;
  width: 70px;
}

.sm_megamenu_title {
  margin-left: 0 !important;
  margin-right: 30px !important;
}

.top-buffer .form-group{
    float: right !important;
}

.form-group label{
    text-align: right;
    float: right;
}

.yt-menu .sm_megamenu_title{
    margin: 0 !important;
}

.job-content{
    float: right !important;
}

.sm_megamenu_dropdown_2columns .list-theme li {
  float: none !important;
  text-align: right !important;
}

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_1column, .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_2columns, .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_3columns, .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_4columns, .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_5columns, .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_6columns, .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_dropdown_fullwidth {
  background: none repeat scroll 0 0 #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  display: none;
  left: auto !important;
  right: 0 !important;
  margin: 0 auto;
  position: absolute;
  text-align: left;
  top: 60px;
  z-index: 9999;
}

.layout-theme {
  text-align: right;
}

.folder-block{
    float: right !important;
}

.toolbar .view-mode-wrap {
  border-left: 1px solid #f3f3f3;
  float: right !important;
  margin-left: 30px !important;
  margin-right: 0 !important;
  padding: 18px 0 12px 30px !important;
  text-align: right;
}

.toolbar .sort-by-wrap {
  float: right !important;
  margin-left: 40px !important;
  margin-right: 0 !important;
}

.client-say{
    float: left !important;
}

.blog-content-detail{
    float: right !important;
}

.blog-details .three-title-home > h2 {
  float: right !important;
}

.three-title-home > h2::before {
  bottom: -3px;
  content: "";
  display: inline-block;
  height: 3px;
  position: absolute;
  right: 0;
  left: auto !important;
  width: 70px;
}

.blog-details .w-date {
  float: left !important;
}

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.sm_megamenu_lv1.sm_megamenu_drop a.sm_megamenu_head {
  padding-right: 22px !important;
}
/* ------ */