
.sm_quickview_handler ,.sm_quickview_handler2,.sm_quickview_handler3{
	background-image:url(quick-view-icon.png);
	background-repeat:no-repeat;
	background-position:center center;
    vertical-align: middle;
	position:absolute;
	display:inline-block;
	width:48px;
	height:48px;
	top:50%;
	left:50%;
	margin-left:-24px;
	margin-top:-24px;
	z-index:10;
	transform:scale(0);
	-webkit-transform:scale(0);
	-moz-transform:scale(0);
	-ms-transform:scale(0);
	overflow:hidden;
	text-indent:-9999px;
	transition: all 0.3s ease 0.3s;
	-webkit-transition: all 0.3s ease 0.3s;
	-moz-transition: all 0.3s ease 0.3s;
}

.sm-deal-wrap .sm_quickview_handler{
	display:none!important;
}
.respl-item .w-image-box:hover .sm_quickview_handler{
	transform:scale(1);
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
}
.sm_quickview_handler:hover,
.sm_quickview_handler:focus
{
    color: #FFFFFF;
	text-decoration:none;	
	cursor:pointer;
}

.sm_quickview_handler:focus{
	outline:none outline;
}

.fancybox-lock .zoomContainer{
	-webkit-transform:none!important;
}

.fancybox-lock .zoomContainer .zoomLens,
.fancybox-lock .zoomContainer .zoomWindow {
	z-index:8021!important;
}

.quickview-main .product-image-thumbs li:first-child{
	margin-left:0;
}


.quickview-main .product-collateral{
	display:none;
}

.products-list li.item .f-fix .sm_quickview_handler{
	float:left;
}